@font-face {
    font-family: 'IcoMoon-Free';
    src: url('../polices/IcoMoon-Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'IcoMoon-Free' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pacman:before {
    content: "\e916";
}

.icon-sphere:before {
    content: "\e9c9";
}

.icon-cool2:before {
    content: "\e9ec";
}

.icon-facebook2:before {
    content: "\ea91";
}

.gros {
    float: left;
    font-size: 60px;
    margin-right: 5px;
}

.blanc {
    color: white;
}



